# Análisis Exploratorio de Datos

In [ ]:
import pandas as pd

## Dataset

In [2]:
df = pd.read_csv('../data/raw/sba_national.csv', low_memory=False)
df.sample(3)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
470228,4539595006,Mad Moose,CUBA,MO,65453,FIRST COMMUNITY NATIONAL BANK,MO,722330,10-Feb-11,2011,...,N,N,NaN,1-Mar-11,"$17,500.00",$0.00,P I F,$0.00,"$17,500.00","$8,750.00"
682108,7038274003,LA BODEGUITA DEL MEDIO,PALO ALTO,CA,94306,WELLS FARGO BANK NATL ASSOC,CA,722110,16-Dec-03,2004,...,0,N,NaN,31-Dec-04,"$85,000.00",$0.00,P I F,$0.00,"$85,000.00","$42,500.00"
244700,2725603009,VIDEOMAX CORPORATION (MT CORP),GREAT FALLS,MT,59405,FIRST INTERSTATE BANK,MT,0,29-Sep-86,1986,...,N,N,7-Jun-89,3-Oct-86,"$120,000.00",$0.00,CHGOFF,"$64,061.00","$120,000.00","$96,000.00"

In [ ]:
# !pip3 install 'pandas-profiling[notebook,html]' # Colab
# from pandas_profiling import ProfileReport

# prof = ProfileReport(df)
# prof.to_file(output_file='../html/sba_national_eda.html')